<!-- footer  -->

<section id="footer">
    <img src="media/trasprant-2.png" alt="">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <img src="media/logo1.png" alt="" id="descripting-img">
          <p id="descripting-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus odit fugiat
            nulla amet molestiae ipsam ut magni assumenda, illo, blanditiis corporis. Tempore alias illo dolore totam
            vero ab asperiores odit?</p>
        </div>
        <div class="col-md-4">
          <form action=""></form>
          <p id="company">company name</p>
          <p><i class="fas fa-map-marker-alt"></i>
          Grras solution pvt.ltd Jaipur</p>
          <p><i class="fas fa-phone"></i>
             8209196140</p>
          <p><i class="fas fa-phone-office"></i>
            140-452-524-124578</p>

        </div>
        <div class="col-md-4">
          <form action="/query" method="post">
            <p id="form-heading">
              Queary Form
            </p>
            <input type="text" name="query" id="" placeholder="query" class="form-control">
            <br>
            <input type="email" name="email" id="" placeholder="email" class="form-control">
            <br>
            <button type="submit" class=" btn btn-success form-control">Querry submit</button>
            

          </form>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
        <p id="social-icon"> <img src="media/Instagram_icon.png.webp" alt="">
          <img src="media/Facebook_Logo.png" alt="">
          <img src="media/twitter_circle-512.webp" alt="">
          <img src="media/download.png" alt=""></p> 

        </div>
      </div>
    </div>
 
    
  </section>