<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/style.css">
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    
    <div class="container" id="login">
        
        <div class="row">
            <div class="col-md-6">

                <h2 class="text-center">Admin Login</h2>
                <form action="/admin/logindata" method="post">
                <label for="" class="form-label">Username</label>
                <input type="text" name="username" id="" class="form-control ">
                <label for="" class="form-label">Password</label>
                <input type="password" name="password" id="" class="form-control mb-2">
                <button type="submit" class="btn btn-primary form-control">Login</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>