<div class="col-md-3"><p><a href="/admin/banner" > <button class="btn btn-success form-control">Banner Page</button> </a></p>
  <p>  <a href="/admin/query"><button class="btn btn-success form-control"> Query Page</button></a> </p>
  <p> <a href="/admin/contact"><button class="btn btn-success form-control"> Contact Page</button></a> </p>
  <p> <a href="/admin/userlogin"><button class="btn btn-success form-control"> User mangment Page</button></a> </p>

</div>